<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>消息详情</title>
<link rel="stylesheet" href="../../../lib/css/mui.min.css" />
<link rel="stylesheet" href="../../../dist/css/common/common.css" />
<style type="text/css">
.mui-content{
	padding: 44px 15px;
}
.title{
	margin-top: 20px;
}
.title h1{
	width: 95%;
	margin-bottom: 6px;
	line-height: 1.3;
	color: #333;
}
.title .time{
	margin-bottom: 20px;
	color: #999;
	font-size: 11px;
}

.content{
	margin-bottom: 20px;
}
.content p{
	margin-bottom: 20px;
	text-align: justify;
	line-height: 1.2;
	color: #666;
}
</style>
</head>

<body>
	<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">消息详情</h1>
	</header>
	
	<div class="mui-content">
		<div class="title">
			<h1>通告：Token 已正式支持 EOS 主链钱包映射</h1>
			<p class="time">2018-04-03 12:00</p>
		</div>
		
		<div class="content">
			<p>EOS 映射的截止时间为：2018-06-02 21:59:59 UTC.1.4.2 用户进入发现频道 candy Bar 即可一键完成[EOS 映射]，请特别注意 EOS 主链钱包的私钥的安全保管。</p>
			<p>另，如果你对全新 Token感兴趣，公测邀请在 Candy Bar 开启中...</p>
		</div>
	</div>
</body>

</html>