<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>消息中心</title>
		<link rel="stylesheet" href="../../../lib/css/mui.min.css" />
		<link rel="stylesheet" href="../../../dist/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/my/message.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">消息中心</h1>
			<span>全部已读</span>
		</header>

		<div class="mui-content">
			<ul class="message-list">
				<li class="border-1px">
					<div class="clearfix">
						<p>通告：Token 正式支持 EOS 主链钱包映链钱包映</p>
						<span>1分钟前</span>
					</div>
					<div>
						接收方：<i>sjdhjsaSDJhdjskah...DJHshjdksSH</i>
					</div>
				</li>
				<li class="border-1px">
					<div class="clearfix">
						<p>转账通知：10.0000 true 转账超时</p>
						<span>18分钟前</span>
					</div>
					<div>
						接收方：<i>sjdhjsaSDJhdjskah...DJHshjdksSH</i>
					</div>
				</li>
				<li class="border-1px">
					<div class="clearfix">
						<p>转账通知： 10.0000 true 转账成功</p>
						<span>1日前</span>
					</div>
					<div>
						接收方：<i>sjdhjsaSDJhdjskah...DJHshjdksSH</i>
					</div>
				</li>
				<li class="border-1px active">
					<div class="clearfix">
						<p>收款通知： 10.0000 true 收款成功</p>
						<span>3日前</span>
					</div>
					<div>
						接收方：<i>sjdhjsaSDJhdjskah...DJHshjdksSH</i>
					</div>
				</li>
			</ul>
		</div>
		<script src="../../../lib/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../dist/js/my/message.min.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>