<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>导入钱包</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../../lib/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/common/common.css" />
		<link rel="stylesheet" href="../../../dist/css/my/importwallet.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">导入钱包</h1>
			<span class="ercode-icon"></span>
		</header>

		<div class="mui-content" style="padding: 0;padding-top: 44px;">
			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted bg-w">
					<a class="mui-control-item mui-active" href="#item1mobile">
						助记词
					</a>
					<a class="mui-control-item" href="#item2mobile">
						官方钱包
					</a>
					<!--	<a class="mui-control-item" href="#item3mobile">
						私钥
					</a>-->
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="md-f1 mui-slider-item mui-control-content detailInfos md-box md-ver mui-active">
						<div class="mnemonic-word-box">
							<textarea class="order" name="func" rows="6" cols="5" placeholder="助记词，按空格分隔"></textarea>
						</div>
						<ul>
							<li>
								<input type="text" class="e-wallet-name" value="m/44'/60'/0'/0/0" />
							</li>
							<div class="name-error error mui-hidden">
								不少于8位字符，建议混合大小写字母、数字、特殊字符
							</div>
							<li>
								<input type="password" class="e-wallet-pwd e-pwd" value="" placeholder="输入您的密码" />
							</li>
							<div class="pwd-error error mui-hidden">
								不少于8位字符，建议混合大小写字母、数字、特殊字符
							</div>
							<li>
								<input type="password" class="e-wallet-repwd e-pwd" value="" placeholder="确认您的密码" />
							</li>
							<div class="repwd-error error mui-hidden">
								不少于8位字符，建议混合大小写字母、数字、特殊字符
							</div>
						</ul>

						<div class="mui-input-row mui-checkbox mui-left">
							<label>我已仔细阅读并同意<a href="">《服务及隐私条款》</a></label>
							<input name="checkbox1" value="Item 1" type="checkbox">
						</div>
						<button class="star-import1">开始导入</button>
						<a href="javascript:openInfo('mnemonicword.html')" class="what-mnemonic-word">什么是助记词?</a>
					</div>

					<div id="item2mobile" class="md-f1 mui-slider-item mui-control-content detailInfos1 md-box md-ver">
						<div class="remind">
							直接复制粘贴以太坊官方钱包 keystore 文件内容至输入框。或者通过生成 keystore 内容的二维码，扫描录入。
						</div>
						<div class="wallet-box">
							<textarea class="keystorecontent" name="func" rows="6" cols="5" placeholder="keystore 文本内容"></textarea>
						</div>
						<ul>
							<li>
								<input type="password" class="e-wallet-pwd2 e-pwd" value="" placeholder="输入您的密码" />
							</li>
						</ul>
						<div class="pwd-error2 error mui-hidden">
							不少于8位字符，建议混合大小写字母、数字、特殊字符
						</div>

						<div class="mui-input-row mui-checkbox mui-left">
							<label>我已仔细阅读并同意<a href="">《服务及隐私条款》</a></label>
							<input name="checkbox2" value="Item 1" type="checkbox">
						</div>

						<button class="star-import2">开始导入</button>

						<a href="javascript:openInfo('mnemonicword.html')" class="what-mnemonic-word">什么是助记词?</a>
					</div>

					<div id="item3mobile" class="md-f1 mui-slider-item mui-control-content detailInfos1 md-box md-ver">
						<div class="keystore-box">
							<textarea class="privateContent" name="func" rows="6" cols="5" placeholder="明文私钥"></textarea>
						</div>
						<ul>
							<li>
								<input type="password" class="e-wallet-pwd3 e-pwd" value="" placeholder="输入您的密码" />
							</li>
							<div class="pwd-error3 error mui-hidden">
								不少于8位字符，建议混合大小写字母、数字、特殊字符
							</div>
							<li>
								<input type="password" class="e-wallet-repwd3 e-pwd" value="" placeholder="确认您的密码" />
							</li>
							<div class="repwd-error3 error mui-hidden">
								不少于8位字符，建议混合大小写字母、数字、特殊字符
							</div>
						</ul>

						<div class="mui-input-row mui-checkbox mui-left">
							<label>我已仔细阅读并同意<a href="">《服务及隐私条款》</a></label>
							<input name="checkbox3" value="Item 1" type="checkbox">
						</div>

						<button class="star-import3">开始导入</button>

						<a href="javascript:openInfo('mnemonicword.html')" class="what-mnemonic-word">什么是助记词?</a>
					</div>

				</div>
			</div>
		</div>

		<!--弹层mask-->
		<div class="masker-loading mui-hidden">
			<div class="outer"></div>
			<div class="inner"></div>
		</div>
		<div class="masker-black mui-hidden"></div>
	</body>
	<script type="text/javascript" src="../../../lib/js/mui.min.js"></script>
	<script type="text/javascript" src="../../../dist/js/common.min.js"></script>
	<script type="text/javascript" src="../../../lib/js/h.min.js"></script>
	<script type="text/javascript" src="../../../lib/js/zepto.min.js"></script>

	<script type="text/javascript" src="../../../lib/js/lightwallet.min.js"></script>
	<script type="text/javascript" src="../../../lib/js/web3.min.js"></script>
	<script type="text/javascript" src="../../../lib/js/hooked-web3-provider.min.js"></script>

	<script type="text/javascript" src="../../../dist/js/wallet/importwallet.min.js"></script>

</html>