<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>钱包管理</title>
		<link rel="stylesheet" href="../../../lib/css/mui.min.css" />
		<link rel="stylesheet" href="../../../dist/css/common/common.css" />
		<link rel="stylesheet" href="../../../dist/css/my/wallet.css" />

	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">钱包管理</h1>
		</header>

		<div class="mui-content">
			<ul class="wallet-list">
				<!--<li>
					<section>
						<i class="avatar"></i>
						<div class="wallet-info">
							<p class="title">我的钱包</p>
							<p class="code">sjf413Ad1E...DJfo10f3SH</p>
						</div>
						<span class="mui-navigate-right"></span>
					</section>
					<section>
						<span>1.0000<i>ethcoer</i></span>
					</section>
				</li>-->
			</ul>

			<div class="h50"></div>
			<div class="btn-area">
				<button class="e-setup">创建钱包</button>
				<button class="e-import">导入钱包</button>
			</div>
		</div>
		<script src="../../../lib/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../lib/js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../dist/js/common.min.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript" src="../../../lib/js/web3.min.js"></script>
		<script type="text/javascript" src="../../../lib/js/hooked-web3-provider.min.js"></script>
		<script type="text/javascript" src="../../../lib/js/lightwallet.min.js"></script>
		<script type="text/javascript" src="../../../lib/js/async.js"></script>

		<script src="../../../dist/js/wallet/wallet.min.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>