<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>什么是助记词</title>
		<link rel="stylesheet" href="../../../lib/css/mui.min.css" />
		<link rel="stylesheet" href="../../../dist/css/common/common.css" />
		<style>
			body,
			html,
			.mui-content {
				background: #F5F5F5;
				color: #333;
			}
			
			.mui-content {
				padding: 20px;
			}
			
			.title {
				font-size: 18px;
				text-align: center;
				padding: 15px 0;
			}
			
			.content {
				font-size: 14px;
				line-height: 20px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">什么是明文私钥?</h1>
		</header>

		<div class="mui-content">
			<div class="content" style="display: inline-block;  margin-top: 20px;">
				我们常说，你对钱包中资金的控制取决于相应私钥的所有权和控制权。在区块链交易中, 私钥用于生成支付货币所必须的签名，以证明资金的所有权。私钥必须始终保持机密，因为一旦泄露给第三方，相当于该私钥保护下的资产也拱手相让了。它不同于 Keystore，Keystore 是加密过后的私钥文件，只要密码强度足够强，即使黑客得到 Keystore，破解难度也足够大。 私钥实际上并不是存储在网络中，而是由用户生成并存储在一个文件或者简单的数据库中，称为钱包。存储在用户钱包中的私钥完全独立，可由用户的钱包软件生成并管理，无需区块链或者网络连接。用户的钱包地址就是由私钥通过椭圆曲线加密生成公钥，进而生成以 0x 开头的 42 位地址。私钥的样式为 64 位 16 进制的哈希值字符串，例如: 56f759ece75f0ab1b783893cbe390288978d4d 4ff24dd233245b4285fcc31cf6
				<div class="PS" style="margin-top: 20px;">PS: 用户可以使用明文私钥导入 初链，用新的密码生成一个新的 Keystore (记得要将旧的 Keystore 删除)，用这种方法来修改钱包密码。</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../../lib/js/mui.min.js"></script>

</html>