body,
.mui-bar {
	background-color: #fff;
}

a {
	color: #000;
}

.mui-content {
	background-color: #fff;
}

.edition {
	min-height: 260px;
}

.edition_logo {
	width: 100%;
	min-height: 100px;
	background: url(../assets/my/3.6-关于我们/ios/logo.png) no-repeat center center;
}

.edition_info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.edition_text {
	padding: 10px 20px;
	color: #777777;
	font-size: 15px;
}

.mui-table-view:after {
	left: 15px;
}