.center {
	text-align: center;
}

.top {
	margin-top: 50px;
}

.dis {
	border-radius: 50%;
}

.white{
	color: white;
}

.assect {
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #528bf7;
}

.wallet {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.features {
	min-height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	border-radius: 10px;
	position: relative;
	top: 30px;
	background: white;
}

.addCurrency {
	border-radius: 20px;
	background: #528bf7;
	color: white;
	padding: 10px;
}

.currencyInfo {
	display: flex;
	justify-content: space-between;
}