.center {
	width: 90%;
	margin: 0 auto;
}

.words {
	min-height: 120px;
	margin-top: 20px;
	background: #F5F5F5;
}

.minHe {
	min-height: 200px;
}


/*.box {
	display: flex;
	margin-top: 20px;
}

.check {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.check input {
	display: none;
}

.check label {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	border: 2px solid #cacaca;
	border-radius: 50%;
	background: #fff;
}
*/


/*鼠标悬浮样式*/


/*.check label:hover {
	border-color: #f78642;
}

.check label:after {
	position: absolute;
	content: "";
	width: 8px;
	height: 4px;
	border: 2px solid #cacaca;
	border-top: none;
	border-right: none;
	opacity: 0.4;
	transform: rotate(-45deg);
	top: 4px;
	left: 3px;
}

.check label:hover:after {
	border-color: #f78642;
}

.check input:checked+label {
	border: 2px solid #f78642;
}

.check input:checked+label:after {
	opacity: 1;
	border: 2px solid #f78642;
	border-top: none;
	border-right: none;
}

input[type="range"] {
	width: 300px;
	height: 10px;
	border: 0;
	background-color: #f0f0f0;
	border-radius: 5px;
	position: relative;
	-webkit-appearance: none !important;
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ff4400;
}

.options_item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 50px;
	border-radius: 50px;
	margin-top: 50px;
}

.options_item_bg {
	width: 80%;
	min-height: 50px;
	line-height: 50px;
	text-align: center;
}

.r {
	border-radius: 50px;
}

.bs {
	background-color: #528bf7;
}

.white {
	color: #fff;
}

*/

.doubt {
	text-align: center;
	margin-top: 20px;
	color: #35CCBF;
}

.mui-input-group .mui-input-row:after {
	left: 0;
}

.mui-input-group:before {
	height: 0;
}