.center {
	width: 90%;
	margin: 0 auto;
}

.words {
	min-height: 120px;
	margin-top: 20px;
	background: #F5F5F5 !important;
}

.minHe {
	min-height: 200px;
}

.doubt {
	text-align: center;
	margin-top: 20px;
	color: #35CCBF;
}

.mui-input-group .mui-input-row:after {
	left: 0;
}

.mui-input-group:before {
	height: 0;
}