.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border-bottom: none;
}

ul,
li {
	list-style: none;
	padding: 0;
}

.center {
	width: 90%;
	margin: 0 auto;
}

.sg {
	color: #35CCBF;
}

.key {
	min-height: 200px;
	background: #ddddddba;
	font-size: 15px;
}

.options_item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 50px;
	border-radius: 50px;
}

.options_item_bg {
	width: 80%;
	min-height: 50px;
	line-height: 50px;
	text-align: center;
}

.r {
	border-radius: 50px;
}

.bs {
	background-color: #528bf7;
}

.white {
	color: #fff;
}

.keyqr {
	background: #F3F3F3;
	width: 310px;
	height: 310px;
	margin: 0 auto;
	display: flex;
	padding: 10px;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}