	.sg {
		color: #35ccbf;
	}
	
	.center {
		width: 90%;
		margin: 0 auto;
	}
	
	.introduce {
		margin-top: 20px;
	}
	
	.key {
		background: #f5f5f5;
		padding: 15px 20px;
		border-radius: 10px;
		min-height: 100px;
	}
	
	.options_item {
		display: flex;
		justify-content: space-around;
		align-items: center;
		min-height: 50px;
		border-radius: 50px;
		margin-top: 50px;
	}
	
	.options_item_bg {
		width: 95%;
		min-height: 50px;
		line-height: 50px;
		text-align: center;
	}
	
	.r {
		border-radius: 50px;
	}
	
	.bs {
		background-color: #528bf7;
	}
	
	.white {
		color: #fff;
	}
	
	.key_item {
		margin-top: 20px;
		min-height: 100px;
		border-radius: 10px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	
	.key_item span {
		background: #dddddda3;
		margin: 10px;
		padding: 5px 2px;
		text-align: center;
		border-radius: 5px;
	}