.mui-bar {
	background-color: #528bf7;
}

.mui-bar-nav {
	box-shadow: 0 0 0 transparent;
}

.white {
	color: white;
}

.blue {
	color: #007affc4;
}

.size {
	font-size: 50px !important;
}

.smallsize {
	font-size: 25px !important;
}

.top {
	margin-top: 20px;
}

.right {
	right: 30px !important;
}

.level {
	/*display: flex;*/
}

.wallet {
	background-color: #528bf7;
	display: flex;
	justify-content: space-around;
	min-height: 200px;
	align-items: center;
	color: white;
}

.wallet_item {
	display: flex;
	align-items: center;
	flex-direction: column;
	line-height: 50px;
}