.mui-input-row label {
    float: right;
    width: 31%;
    padding: 0;
    text-align: right;
}

.center {
    width: 90%;
    margin: 0 auto;
}

.top {
    margin-top: 20px;
}

.left {
    margin-left: 20px;
}

.text_right {
    text-align: right;
}

.mui-input-group:before,
.mui-input-group:after {
    height: 0;
}

.mui-input-row.mui-input-range {
    padding: 0;
}

.mui-input-group .mui-input-row:nth-child(4):after,
.mui-input-group .mui-input-row:nth-child(5):after {
    height: 0;
}

.speed {
    display: flex;
    justify-content: space-between;
}

.next {
    color: white;
    display: flex;
    justify-content: center;
    min-height: 50px;
    align-items: center;
    border-radius: 50px;
    background: #008affc7;
}

.options {
    height: 100%;
    margin-top: 20px;
}

.options_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    border-radius: 50px;
    margin-top: 50px;
}

.options_item_bg {
    width: 80%;
    min-height: 50px;
    line-height: 50px;
    text-align: center;
}

.r {
    border-radius: 50px;
}

.bs {
    background-color: #528bf7;
}

.white {
    color: #fff;
}

.mui-modal {
    top: 40% !important;
    min-height: 0;
}

.mui-modal.mui-active {
    height: 60% !important;
}

.mui-table-view-cell {
    display: flex;
    align-items: center;
}

.address {
    word-wrap: break-word;
    width: 70%;
}

.cost {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.amountVal {
    position: absolute;
    top: 25%;
    right: 20px;
}

.mui-input-range .mui-tooltip {
    font-size: 18px;
    position: static;
    height: 32px;
    line-height: 32px;
    display: block !important;
    text-align: left;
    opacity: .8;
    color: #333;
    margin: 0 auto;
    /*border: 1px solid red;*/
    border: none;
    background-color: transparent;
    text-shadow: 0 1px 0 #f3f3f3;
}