a {
	color: #000;
}

.left {
	margin-left: 20px;
}

.right {
	position: absolute;
	right: 50px;
}

.content {
	position: fixed;
	top: 45px;
	left: 0;
	right: 0;
	bottom: 50px;
	overflow: auto;
}

.walletManger {
	margin: 10px 20px;
	background: #fff;
	min-height: 150px;
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.walletInfo {
	padding-bottom: 10px;
	border-bottom: 1px solid gray;
	display: flex;
	align-items: center;
}

.marketVal {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-height: 50px;
}

.val {
	font-size: 25px;
	padding-right: 10px;
}

.bsk {
	background-color: #35ccbf;
}

.bs {
	background-color: #528bf7;
}

.white {
	color: #fff;
}