<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>版本日志</title>
		<link rel="stylesheet" href="../../../lib/css/mui.min.css" />
		<link rel="stylesheet" href="../../../dist/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/my/versionlog.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">版本日志</h1>
		</header>

		<div class="mui-content">
			<section>
				<p>2.0.2</p>
				<ul>
					<li>修正投票数量显示问题</li>
				</ul>
			</section>
			<section>
				<p>2.0.1</p>
				<ul>
					<li>修正上一版本中文字信息</li>
				</ul>
			</section>
			<section>
				<p>2.0.0</p>
				<ul>
					<li>web3版本升级</li>
					<li>增加锁仓账户</li>
					<li>增加优先节点选举</li>
					<li>· 报名参选</li>
					<li>· 投票选举</li>
				</ul>
			</section>
			<section>
				<p>1.0.3</p>
				<ul>
					<li>修正一些问题</li>
					<li>增加TTR资产情况展示</li>
					<li>解决转账时黑屏问题</li>
					<li>优化导入助记词验证提示</li>
					<li>资产页面增加下拉刷新</li>
				</ul>
			</section>
			<section>
				<p>1.0.2</p>
				<ul>
					<li>ios版本发布</li>
					<li>完善资产数额显示</li>
					<li>完善keystore导入导出验证</li>
				</ul>
			</section>
			<section>
				<p>1.0.1</p>
				<ul>
					<li>修正一些问题</li>
					<li>增加手势功能</li>
					<li>支持删除钱包</li>
				</ul>
			</section>
			<section>
				<p>1.0.0</p>
				<ul>
					<li>发布内测版本，该版本实现了</li>
					<li>基于助记词和BIP44规范创建 HDWallet</li>
					<li>支持钱包基本功能：转账、收款、交易记录</li>
					<li>支持一键添加以太坊 Token 资产</li>
					<li>支持ETH和TRUE</li>
				</ul>
			</section>

		</div>
		<script src="../../../lib/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>