<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/my/login.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">登录</h1>
		</header>
		<div class="mui-content">
			<form class="main">
				<a class="country-or-region">
					<span>
						国家/地区
					</span>
					<span>
						中国
					</span>
				</a>
				<div class="tel">
					+<label for="telNum">86</label>
					<input type="number" id="telNum" placeholder="输入手机号" />
				</div>

				<div class="vCode">
					<input type="text" id="vCode" placeholder="输入图形验证码" />
					<label class="vCodeItem"><!--ghuy--></label>
				</div>
				<div class="phoneCode">
					<input type="text" id="phoneCode" placeholder="输入手机验证码" />
					<!--<label class="phoneCodeItem" for="phoneCode">-->
					<button type="button" class="blue getCode">获取验证码</button>
					<!--</label>-->
				</div>
			</form>
			<div class="login">
				登录
			</div>
			<p class="prompt">未注册过的手机号将自动创建账号</p>
		</div>
	</body>

</html>
<script src="../../../lib/js/mui.min.js"></script>
<script src="../../../lib/js/h.min.js"></script>
<script src="../../../lib/js/zepto.min.js"></script>
<script type="text/javascript">
	mui.init();

	(function() {
		var countdown = 60;
		var Validata = {
			getVcodeUrl: 'http://api.truechain.pro/',
			getcodeUrl: 'http://api.truechain.pro/smsCaptcha',
			loginUrl: 'http://api.truechain.pro/login',
			phoneNumber: null,
			vCode: null,
			code: null,
			walletAddress: null,
			vCodeFlag: false,
			phoneCode: null,
			isEmpty: false,
			isClick: false,
			phoneFlag: false,
			regPhone: /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/,
			gvCode: function gvCode() {
				let that = this;
				mui.ajax(that.getVcodeUrl, { //获取图形验证码
					type: 'GET',
					dataType: 'json',
					success: function(res) {
						$('.vCodeItem').html(res.data);
					},
					error: function(err) {
						console.log(err)
					}
				});
			},
			checkEmpty: function checkEmpty(val) {
				if(val) {
					this.isEmpty = true;
				} else {
					mui.alert('请输入图片验证码')
					this.isEmpty = false;
				}
			},
			checkPhone: function checkPhone(val) {
				if(this.regPhone.test(val)) {
					this.phoneFlag = true;
				} else {
					this.phoneFlag = false;
					mui.alert('请输入正确手机号');
				}
			},
			init: function init() {
				this.submitForm();
			},
			settime: function settime(ele) { //倒计时						
				if(countdown == 0) {
					$(ele).removeAttr("disabled");
					$(ele).text("获取验证码");
					countdown = 60;
					return;
				} else {
					$(ele).attr("disabled", true);
					$(ele).text(countdown + "s 重新发送 ");
					countdown--;
				};
				setTimeout(function() {
					settime(ele);
				}, 1000);
			},
			submitForm: function submitForm() {
				let that = this;
				mui.plusReady(function() {
					that.gvCode();
					that.walletAddress = plus.storage.getItem('walletAddress')
					//请求图片验证码
					h('.vCodeItem').tap(function() {
						that.gvCode();
					})

					/*获取手机验证码进行图形验证码校验*/
					h('.getCode').tap(function(e) {
						e.preventDefault();
						that.phoneNumber = $('#telNum').val();
						that.vCode = $('#vCode').val();
						that.checkPhone(that.phoneNumber);
						if(that.phoneFlag) {
							that.checkEmpty(that.vCode);
							if(that.isEmpty) {
								that.vCodeFlag = true;
								that.isClick = true;
								that.settime('.getCode');
								mui.ajax(that.getcodeUrl, {
									type: 'GET',
									dataType: 'json',
									data: {
										mobile: that.phoneNumber,
										captcha: that.vCode
									},
									success: function(res) {
										console.log(JSON.stringify(res));
										if(res.body.status == 202) {
											that.vCodeFlag = false;
											that.isClick = false;
											mui.alert('图形验证码错误,请重新验证!');
											return;
										} else {
											that.vCodeFlag = true;
											that.isClick = true;
											that.settime('.getCode');
											//mui.alert('图形验证码正确');
										}
									},
									error: function(err) {
										console.log(err + '错误');
									}
								})
							}
						}
					});
					h('.login').tap(function() {
						that.code = $('#phoneCode').val();
						if(that.isClick && that.vCodeFlag) {
							mui.ajax(that.loginUrl, { //进行验证登录操作
								type: 'GET',
								dataType: 'json',
								data: {
									mobile: that.phoneNumber,
									code: that.code,
									address: that.walletAddress
								},
								success: function(res) {
									console.log(JSON.stringify(res) + '已绑定');
									if(res.body.status == 0) {
										plus.storage.setItem("token", res.body.data.token);
										setTimeout(function() {
											plus.runtime.restart();
										}, 1000)
									} else if(res.body.status == 202) {
										mui.alert('该手机号已绑定钱包地址');
									}
								},
								error: function(err) {
									console.log('Error+' + JSON.stringify(err));
								}
							});
						} else {
							mui.alert('请先进行验证!');
						}
					})
				})
			}
		};
		Validata.init();
	})();
</script>