<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/node/standardNode.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">标准节点</h1>
		</header>
		<div class="mui-content">
			<div class="main">
				<div class="signUp signUp_personal">
					<span>个人报名</span>
					<i class="arrow"></i>
				</div>

				<ul class="signUp signUp_team">
					<div class="signUp signUp_team_item">
						<span>组队列表</span>
						<i class="search"></i>
						<span class="establish">建立组队</span>
					</div>
					<li>
						<span>1</span>
						<span>飞虎小分队</span>
						<i class="arrow"></i>
					</li>
					<li>组队列表</li>
					<li>组队列表</li>
				</ul>
			</div>

		</div>

	</body>

</html>
<script src="../../../lib/js/mui.min.js"></script>
<script type="text/javascript">
	mui.init()
</script>