<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>使用协议</title>
<link rel="stylesheet" href="../../lib/css/mui.min.css" />
<link rel="stylesheet" type="text/css" href="../../dist/css/my/rules.css" />
</head>

<body>
	<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">使用协议</h1>
	</header>
	
	<div class="mui-content">
			<h1 class="title">《True服务协议》</h1>
		<section>
			<p>尊敬的用户：</p>
			<p>感谢您选择True服务。《True服务协议》（以下简称“本协议”）由杭州融识科技有限公司（以下简称“融识”或“我们”）和用户（以下简称“您”或“用户”）签订，本协议在您与融识之间具有合同上的法律效力。</p>
		</section>
		
		<section>
			<p>融识在此特别提醒您在使用True（以下简称“True” 或“本软件”）之前，请认真阅读《True服务协议》及后文提到的相关协议，尤其是本协议规定的“免责及责任限制”等条款将以加粗的形式体现，确保您充分理解本协议中各条款，并自主考虑风险。</p>
		</section>
		
		<section>
			<h2>一、 关于本协议的确认与接纳</h2>
			<p>1. 您理解本协议及有关协议适用于True及True上融识所自主开发和拥有的去中心化应用（简称“DApp”）（排除第三方开发的DApp）。</p>
			<p>2. 您下载True软件并创建或导入钱包，即视为您已经充分阅读并接受本协议全部条款，本协议立即生效，对双方具有约束力。</p>
			<p>3. 本协议可由融识随时更新，经修改的协议一经在True上公布，立即自动生效，恕不再另行通知。在融识公布修改协议条款后，如果您不接受修改后的条款，请立即停止使用True，您继续使用True将被视为接受修改后的协议。</p>
			<p>4. 如果您未满18周岁，或者是无民事行为能力人或限制民事行为能力人，请在父母或监护人指导下使用True。</p>
		</section>
	</div>
</body>

</html>