<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="../../lib/css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../dist/css/common/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../dist/css/asset/currencydetail.css"/>
</head>

<body>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left white"></a>
    <h1 class="mui-title white"><!--名称--></h1>
</header>
<div class="mui-content" id="refreshContainer">
    <div class="marketVal">
        <p class="price white size balance">
            <!--余额-->
        </p>
    </div>
    <p class="top">近期交易记录</p>

</div>
<div class="func">
    <a class="b bs white" id="transfer">转账</a>
    <a class="b bsk white" href="receipt.html" id="receipt">收款</span>
</div>
</body>

</html>
<script src="../../lib/js/mui.min.js"></script>
<script type="text/javascript" src="../../lib/js/zepto.min.js">
</script>
<script type="text/javascript" src="../../lib/js/web3.min.js"></script>
<script type="text/javascript" src="../../lib/js/hooked-web3-provider.min.js"></script>
<script type="text/javascript" src="../../lib/js/lightwallet.min.js"></script>

<script type="text/javascript" src="../../lib/js/addToken.js"></script>
<script type="text/javascript">
    mui.init();


    mui.plusReady(function () {
        var self = plus.webview.currentWebview();
        document.getElementsByClassName('mui-title')[0].innerText = self.currencyName;
        document.getElementsByClassName('price')[0].innerText = self.currencyPrice;
        document.getElementById('transfer').href = `transfer.html?name=${self.currencyName}`;
    })
</script>