<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>导出助记词</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../lib/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/common/common.css" />
		<link rel="stylesheet" href="../../dist/css/asset/exportmw.css" />
	</head>


	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">导出助记词</h1>
		</header>

		<div class="mui-content">
			<div class="step-1">
				<div class="block">
					<div class="title">抄写下你的钱包助记词</div>
					<div class="content">
						助记词用于恢复钱包或重置钱包密码，将它准确的抄写到纸上，并存放 在只有你知道的安全地方.
					</div>
				</div>
				<div class="keystore-box">
					<textarea id="words" name="func" rows="2" cols="5" disabled="disabled"></textarea>
				</div>
				<button id="next-btn">下一步</button>
			</div>

			<div class="step-2 not-view">
				<div class="block">
					<div class="title">确认你的钱包助记词</div>
					<div class="content">
						请按顺序点击助记词，以确认你备份的助记词正确。
					</div>
				</div>
				<div class="keystore-box">
					<textarea id='orderWord' name="func" rows="3" cols="5" placeholder="" disabled="disabled"></textarea>
				</div>

				<div class="my-word">
					<!--助记词-->
				</div>

				<button id="complete-btn">完成</button>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../lib/js/mui.min.js"></script>
	<script type="text/javascript" src="../../dist/js/common.min.js"></script>
	<script type="text/javascript" src="../../lib/js/zepto.min.js"></script>
	<script type="text/javascript" src="../../lib/js/h.min.js"></script>
	<script type="text/javascript" src="../../lib/js/lightwallet.min.js"></script>
	<script type="text/javascript" src="../../src/js/asset/exportmw.js"></script>

</html>