<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>导出keystore</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../lib/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/common/common.css" />
		<link rel="stylesheet" href="../../dist/css/asset/exportkeystore.css" />
	</head>

	<style type="text/css">
		.mui-table-view-cell,
		.options_item {
			display: -webkit-box;
			display: -ms-flexbox
		}
		
		.options {
			height: 100%
		}
		
		.options_item {
			display: flex;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			min-height: 50px;
			margin-top: 39px
		}
		
		.options_item_bg {
			width: 100%;
			min-height: 50px;
			line-height: 50px;
			text-align: center
		}
		
		.bs {
			background-color: #528bf7;
			color: #fff;
			font-size: 16px;
			text-align: center;
		}
		
		.mui-modal {
			top: 60%!important;
			min-height: 0;
			left: 0;
		}
		
		.mui-modal.mui-active {
			height: 60%!important;
		}
		
		.mui-table-view-cell {
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center
		}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">导出keystore</h1>
		</header>

		<div class="mui-content" style="padding: 0;padding-top: 44px;">
			<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted bg-w">
					<a class="mui-control-item mui-active" href="#item1mobile">
						keystore文件
					</a>
					<!--<a class="mui-control-item" href="#item2mobile">
						二维码
					</a>-->
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-12"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="base-info md-f1 mui-slider-item mui-control-content detailInfos md-box md-ver mui-active">
						<div class="block">
							<div class="title">离线保存</div>
							<div class="content">
								请复制粘贴 keystore 文件到安全、离线的地方保存。切勿保存至邮箱、记事本、网盘、聊天工具等，非常危险。
							</div>
						</div>
						<div class="block">
							<div class="title">请勿使用网络传输</div>
							<div class="content">
								请勿通过网络工具传输 keystore 文件，一但被黑客获取将造成不可挽回的资产损失。建议离线设备通过二维码方式传输。
							</div>
						</div>
						<div class="block">
							<div class="title">密码保险箱保存</div>
							<div class="content">
								如需在线保存，则建议使用安全等级更高的 1Password 等密码保管软件保存 keystore。
							</div>
						</div>
						<div class="keystore-box">
							<!--KeyStore-->
							<textarea id="keyStore" name="func" rows="12" cols="5" placeholder="" disabled="disabled"></textarea>
						</div>

						<button id="copy-btn">复制 keystore</button>
					</div>

					<!--<div id="item2mobile" class="process bg md-f1 mui-slider-item mui-control-content detailInfos1 md-box md-ver">
						<div class="block">
							<div class="title">仅供直接扫描</div>
							<div class="content">
								二维码禁止保存、截图、以及拍照。仅供用户在安全环境下直接扫描来方便的导入钱包。
							</div>
						</div>
						<div class="block">
							<div class="title">在安全的环境下使用</div>
							<div class="content">
								请在确保四周无人及无摄像头的情况下使用。二维码一旦被他人获取将造成不可挽回的资产损失。
							</div>
							<div class="er-code">
								<img src="../../dist/images/asset/head@3x.png" alt="" />
							</div>
						</div>
					</div>
				-->
				</div>
			</div>

			<div id="modal" class="mui-modal mui-hidden">
				<header class="mui-bar mui-bar-nav">
					<a class="modal_item mui-icon mui-icon-close mui-pull-right close" href="###"></a>
					<h1 class="mui-title">钱包密码</h1>
				</header>
				<div class="mui-content options">
					<form class="mui-input-group center top">
						<div class="mui-input-row">
							<input type="password" class="mui-input-clear psw" placeholder="请输入你的密码">
						</div>
						<div class="err-box err-psw mui-hidden" style="margin-top: 10px;"></div>
						<div class="options_item">
							<a class="options_item_bg r bs white comfirmPsw">确认</a>
						</div>
					</form>
				</div>
			</div>

		</div>
	</body>
	<script type="text/javascript" src="../../lib/js/mui.min.js"></script>
	<script type="text/javascript" src="../../lib/js/web3.min.js"></script>
	<script type="text/javascript" src="../../lib/js/hooked-web3-provider.min.js"></script>
	<script type="text/javascript" src="../../lib/js/lightwallet.min.js"></script>
	<script type="text/javascript" src="../../lib/js/zepto.min.js"></script>
	<script type="text/javascript" src="../../src/js/common.js"></script>
	<script type="text/javascript" src="../../lib/js/h.min.js"></script>
	<script type="text/javascript" src="../../lib/js/clipboard.min.js"></script>

</html>

<script type="text/javascript">
	(function() {
		var Validata = {
			init: function() {
				this.submitForm();
			},
			submitForm: function() {
				mui.plusReady(function() {
					var mask = mui.createMask(function() {
						return false;
					});

					mask.show();
					$('#modal').removeClass('mui-hidden')
					$('#modal').addClass('mui-active');

					$('.comfirmPsw').on('tap', function() {
						mask._remove();
						$('#modal').addClass('mui-hidden')
						$('#modal').removeClass('mui-active');
						plus.nativeUI.showWaiting("请稍侯...");
						let password = $('.psw').val();
						var serialized_keystore = plus.storage.getItem('keystore2');
						keystore = lightwallet.keystore.deserialize(serialized_keystore);
						keystore.keyFromPassword(password, function(err, pwDerivedKey) {
							if(err) {
								mui.alert('密码验证错误,请重新验证!');
								plus.nativeUI.closeWaiting();
								$('.psw').val();
								mui.back();
							} else {
								keystore.generateNewAddress(pwDerivedKey, 1);
								var address = keystore.getAddresses();
								let ks = plus.storage.getItem('keystore3');
								h('#keyStore').html(ks);
								$('.psw').val();
								plus.nativeUI.closeWaiting();
							}
						});
					})

					//close
					$('.close').on('tap', function(e) {
						mask._remove();
						$('#modal').removeClass('mui-active');
						mui.back();
					});

					//keystore
					var copyFlag = false;
					h('#copy-btn').tap(function() {
						copyFlag = true;
						myCopy();
						if(copyFlag) {
							h('#copy-btn').css({
								'background': '#CCC',
								'color': '#666'
							});
							h('#copy-btn').html('复制成功');
						}
					})
					//复制方法
					function myCopy() {
						var keyCode = h('textarea').val();
						var clipboard = new ClipboardJS('#copy-btn', {
							text: function() {
								return keyCode;
							}
						});

						clipboard.on('success', function(e) {
							console.log(e);
						});

						clipboard.on('error', function(e) {
							console.log(e);
						});
					}

				})
			}
		}
		Validata.init();
	})()
</script>