<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../lib/css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/asset/transfer.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a class="iconfont icon-saomiao mui-pull-right" style="line-height: 45px;"></a>
			<h1 class="mui-title mui-title-transfer"><!--转账--></h1>
			<span class="ercode-icon"></span>
		</header>
		<div class="mui-content">
			<form class="mui-input-group center top">
				<div class="row">
					<label>
					<!--<img src="../assets/about/logo.png" style="width: 30px; height: 30px;"/>-->
				</label>
					<input type="text" id="toAddress" class="mui-input-clear add" placeholder="收款人钱包地址">
				</div>
				<div class="err-box err-add mui-hidden"></div>
				<div class="row">
					<input type="text" id="amount" class="mui-input-clear money" placeholder="转账金额">
				</div>
				<div class="err-box err-money mui-hidden"></div>
				<div class="row">
					<input type="text" class="mui-input-clear" placeholder="备注">
				</div>
				<div class="row costrow">
					<input type="text" placeholder="矿工费用" readonly="readonly" />
				</div>
				<div class="err-box err-cost mui-hidden"></div>
				<div class="mui-input-row mui-input-range">
					<input type="range" min="0.00002520" max="0.00251999" value="0.00017640" step="0.00000001">
					<span class="mui-tooltip" id="minerCost">0.0000252</span>
				</div>
				<div class="center speed">
					<p>慢</p>

					<p>快</p>
				</div>

			</form>
			<button id="next">下一步</button>
		</div>

		<div id="modal" class="mui-modal">
			<header class="mui-bar mui-bar-nav">
				<a class="modal_item mui-icon mui-icon-close mui-pull-right close" href=""></a>
				<h1 class="mui-title">支付详情</h1>
			</header>
			<div class="mui-content options">
				<div class="center">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<p>
								<span>订单信息</span>
								<span class="left">转账</span>
							</p>
						</li>
						<li class="mui-table-view-cell">
							<p>
								<span>转入地址</span>
								<span id="toaddressItem" class="left address"><!--转入地址--></span>
							</p>
						</li>
						<li class="mui-table-view-cell ">
							<p>
								<span>转出地址</span>
								<span class="left" id="fromAddress"><!--转出地址--></span>
							</p>
						</li>
						<li class="mui-table-view-cell ">
							<p>
								<span>矿工费用</span>
							</p>
							<p class="cost">
								<span id="minerCostItem" class="text_right">
								<!--0.000012254  ETH-->
							</span>
								<span class="costItem">
								<!--≈ Gas(25200) * Gas Price(568 gwe)-->
							</span>
							</p>
						</li>
						<li class="mui-table-view-cell ">
							<p>
								<span>
								金额
							</span>
								<span id="amountItem" class="amountVal"><!--金额--></span>
							</p>
						</li>
					</ul>
				</div>
				<div class="options_item center">
					<a class="options_item_bg r bs white" id="confirmOrder">确认</a>
				</div>
			</div>
		</div>

		<div id="currencyPwd" class="mui-modal mui-hidden">
			<header class="mui-bar mui-bar-nav">
				<a class="modal_item mui-icon mui-icon-close mui-pull-right close" href="###"></a>
				<h1 class="mui-title">钱包密码</h1>
			</header>
			<div class="mui-content options">
				<form class="mui-input-group center top">
					<div class="mui-input-row">
						<input type="password" class="mui-input-clear psw" placeholder="请输入你的密码">
					</div>
					<div class="err-box err-psw mui-hidden" style="margin-top: 10px;"></div>
					<div class="options_item">
						<a class="options_item_bg r bs white comfirmPsw">确认</a>
					</div>
				</form>
			</div>
		</div>
		</div>
	</body>
</html>
<script src="../../lib/js/mui.min.js"></script>
<script src="../../dist/js/common.min.js"></script>
<script src="../../lib/js/h.min.js"></script>
<script src="../../lib/js/zepto.min.js"></script>

<script src="../../lib/js/web3.min.js"></script>
<script type="text/javascript" src="../../lib/js/ethereumjs-tx.min.js"></script>
<script src="../../lib/js/hooked-web3-provider.min.js"></script>
<script src="../../lib/js/lightwallet.min.js"></script>
<script type="text/javascript" src="../../lib/js/sendTokens.js"></script>

<script src="../../dist/js/asset/transfer.min.js"></script>