<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/my/node.css" />
	</head>

	<style type="text/css">
		.mui-table-view-cell>.view-cell-left {
			width: 25px;
			height: 25px;
			background-size: 100% 100%;
		}
		
		.mui-table-view-cell:nth-child(1)>.view-cell-left {
			background: url(../../../dist/images/node/one.png) no-repeat center center;
			color: transparent;
		}
		
		.mui-table-view-cell:nth-child(2)>.view-cell-left {
			background: url(../../../dist/images/node/two.png) no-repeat center center;
			color: transparent;
		}
		
		.mui-table-view-cell:nth-child(3)>.view-cell-left {
			background: url(../../../dist/images/node/three.png) no-repeat center center;
			color: transparent;
		}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title"><!--节点类型--></h1>
		</header>

		<div class="mui-content">
			<!--<div class="mui-input-row mui-search">
				<input type="search" class="mui-input-clear" placeholder="搜索">
			</div>-->
			<ul class="mui-table-view nodeType">
				<!--<li class="mui-table-view-cell" data-address=${item.address}>
																	<div class="view-cell-left">
																		${index+4}
																	</div>
																	<div class="view-cell-center nickName">
																		<span>${item.nickname}</span>
																	</div>
																	
																	<div class="view-cell-right voteNum">
																		${item.tickets}票
																	</div>
															</li>-->
			</ul>
		</div>

	</body>

</html>
<script src="../../../lib/js/mui.min.js"></script>
<script src="../../../lib/js/h.min.js"></script>
<script src="../../../lib/js/zepto.min.js"></script>
<script src="../../../src/js/common.js"></script>

<script type="text/javascript">
	(function() {

		var Validate = {
			token: null,
			pageIndex: 0,
			nodeDataUrl: 'http://39.105.125.189:7001/nodeRank',
			getAjaxPromise: function getAjaxPromise(option) {
				let that = this;
				return new Promise(function(resolve, reject) {
					mui.ajax(option.url, {
						type: 'get',
						dataType: 'json',
						headers: {
							token: that.token
						},
						data: {
							node_type: option.node_type,
							pageIndex: option.pageIndex,
							pageNumber: 600,
							isScore: true
						},
						async: true,
						success: function(res) {
							resolve(res)
						},
						error: function(error) {
							reject(error)
						}
					});
				})
			},
			request: function(node_type, element) {
				let that = this;
				that.getAjaxPromise({
					url: that.nodeDataUrl,
					node_type: node_type,
					pageIndex: 0					
				}).then((res) => {
					let strAf = '',
						sortIndex = 1;
					res.data.forEach(function(item, index) {
						if(item.type == 1) {
							strAf += `<li class="mui-table-view-cell" data-address=${item.address}>
							<div class="view-cell-left">
								${index+1}
							</div>
							<div class="view-cell-center nickName">
								<span>${item.nickname}</span>
								<img class="type" src="../../../dist/images/common/geren.png" />
							</div>		
							<div class="view-cell-right voteNum">
								${item.tickets}票
							</div>
						</li>`;
						} else {
							strAf += `<li class='mui-table-view-cell' data-address=${item.address}>
						<div class="view-cell-left">
							${index+1}
						</div>
						<div class="view-cell-center nickName">
							<span>${item.nickname}</span>
						</div>	
						<div class="view-cell-right voteNum">
							${item.tickets}票
						</div>
					</li>`;
						};
					})
					$(element).html(strAf);
					//点击显示投票信息
					$('.mui-table-view-cell').on('tap', function() {
						openInfo('baseInfo.html', {
							address: $(this).data('address')
						})
					})
				}).catch((err) => {
					console.log(JSON.stringify(err))
				});
			},
			standardNode: function(node_type, element) {
				let that = this;
				that.getAjaxPromise({
					url: that.nodeDataUrl,
					node_type: node_type,
					pageIndex: 0
				}).then((res) => {
					let strAf = '',
						sortIndex = 1;
					res.data.forEach(function(item, index) {
						if(item.type == 1) {
							strAf += `<li class="mui-table-view-cell" data-address=${item.address}>
								<div class="view-cell-left">
									${index+1}
								</div>
								<div class="view-cell-center nickName">
									<span>${item.nickname}</span>
									<img class="type" src="../../../dist/images/common/geren.png" />
								</div>		
								<div class="view-cell-right voteNum">
									${item.score}分
								</div>
							</li>`;
						} else {
							strAf += `<li class='mui-table-view-cell' data-address=${item.address}>
							<div class="view-cell-left">
								${index+1}
							</div>
							<div class="view-cell-center nickName">
								<span>${item.nickname}</span>
							</div>	
							<div class="view-cell-right voteNum">
								${item.score}分
							</div>
						</li>`;
						};
					})
					$(element).html(strAf);
					//点击显示投票信息
					$('.mui-table-view-cell').on('tap', function() {
						openInfo('baseInfo.html', {
							address: $(this).data('address')
						})
					})
				}).catch((err) => {
					console.log(JSON.stringify(err))
				});
			},

			/***********************************/

			init: function() {
				this.submitForm();
			},
			submitForm: function() {
				let that = this;
				mui.plusReady(function() {
					let self = plus.webview.currentWebview();
					that.token = plus.storage.getItem('token');
					switch(self.node_type) {
						case 1:
							{
								$('.mui-title').html('标准节点');
								that.standardNode(1, '.nodeType');
								break;
							}
						case 2:
							{
								$('.mui-title').html('全节点');
								that.request(2, '.nodeType');
								break
							}
					}
				})
			}
		};
		Validate.init();
	})()
</script>