<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/my/node.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">标准节点<!--节点类型--></h1>
		</header>

		<div class="mui-content">
			<div class="mui-input-row mui-search">
				<input type="search" class="mui-input-clear" placeholder="搜索">
			</div>

			<ul class="mui-table-view nodeType">

			</ul>
		</div>

	</body>

</html>
<script src="../../../lib/js/mui.min.js"></script>
<script src="../../../lib/js/h.min.js"></script>
<script src="../../../lib/js/zepto.min.js"></script>
<script src="../../../src/js/common.js"></script>
<script type="text/javascript">
	mui.init();

	mui.plusReady(function() {
		let self = plus.webview.currentWebview();
		let token = plus.storage.getItem('token');
		let Data;
		switch(self.node_type) {
			case 1:
				{
					h('.mui-title').html('标准节点');
					//获取标准节点列表信息
					mui.ajax('http://192.168.31.19:7001/nodeRank', {
						type: 'get',
						dataType: 'json',
						headers: {
							token: token
						},
						data: {
							node_type: 1
						},
						success: function(res) {
							Data = res.data;
						},
						error: function(err) {
							console.log(JSON.stringify(err))
						}
					})

					$('.nodeType').on('tap', 'li', function(e) {
						openInfo('baseInfo.html', {
							address: $(this).data('address')
						});
					})
					break;
				}
			case 2:
				{
					h('.mui-title').html('全节点');
					break;
				}
		}

		setTimeout(function() {
			let DataItem = Data.sort(function(a, b) {
				return a.tickets - b.tickets
			});

			let rankingArr = Data.splice(0, 3);
			console.log(JSON.stringify(rankingArr))
			rankingArr.forEach(function(item, index) {
				let str;
				if(item.type == 1) {
					str = `<li class="mui-table-view-cell" data-address=${item.address}>
																						<div class="view-cell-left">
																							<img class="ranking" src="../../../dist/images/common/${index}@2x.png" />
																						</div>
																						<div class="view-cell-center nickName">
																							<span>${item.nickname}</span>
																							<img class="type" src="../../../dist/images/common/geren.png" />
																						</div>
																						<div class="view-cell-center-item">
																							${item.lock_num}true
																						</div>
																						<div class="view-cell-right voteNum">
																							${item.tickets}票
																						</div>
																					</li>`;
				} else {
					str = `<li class="mui-table-view-cell" data-address=${item.address}>
																						<div class="view-cell-left">
																							<img class="ranking" src="../../../dist/images/common/${index}@2x.png" />
																						</div>
																						<div class="view-cell-center nickName">
																							<span>${item.nickname}</span>
																						</div>
																						<div class="view-cell-center-item">
																							${item.lock_num}true
																						</div>
																						<div class="view-cell-right voteNum">
																							${item.tickets}票
																						</div>
																					</li>`;
				};
				$('.nodeType').append(str);
			});

			//之后
			let after = Data.sort(function(a, b) {
				return b.voteNum - a.voteNum;
			});

			after.forEach(function(item, index) {
				let strAf;
				if(item.type == 1) {
					strAf = `<li class="mui-table-view-cell" data-address=${item.address}>
																														<div class="view-cell-left">
																															${index+4}
																														</div>
																														<div class="view-cell-center nickName">
																															<span>${item.nickname}</span>
																															<img class="type" src="../../../dist/images/common/geren.png" />
																														</div>
																														<div class="view-cell-center-item">
																															${item.lock_num}true
																														</div>
																														<div class="view-cell-right voteNum">
																															${item.tickets}票
																														</div>
																													</li>`;
				} else {
					strAf = `<li class="mui-table-view-cell" data-address=${item.address}>
																														<div class="view-cell-left">
																															${index+4}
																														</div>
																														<div class="view-cell-center nickName">
																															<span>${item.nickname}</span>
																														</div>
																														<div class="view-cell-center-item">
																															${item.lock_num}true
																														</div>
																														<div class="view-cell-right voteNum">
																															${item.tickets}票
																														</div>
																													</li>`;
				};
				$('.nodeType').append(strAf);
			})

		}, 2000)

	})
</script>