<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>我的钱包</title>
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="stylesheet" href="../../lib/css/mui.min.css" />
<link rel="stylesheet" type="text/css" href="../../dist/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="../../dist/css/asset/amendpaw.css" />
</head>

<body>
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title">更改密码</h1>
	    <span class="save">保存</span>
	</header>
	
	<div class="mui-content">
		<ul>
			<li>
				<input type="text" id="nowPaw" value="" placeholder="当前密码" />
			</li>
			<li>
				<input type="text" id="nowPaw" value="" placeholder="新密码"/>
			</li>
			<li>
				<input type="text" id="nowPaw" value="" placeholder="重复密码" />
			</li>
		</ul>
		<div class="remind">忘记密码？导入助记词或私钥可重置密码。<a href="">马上导入</a></div>
	</div>
</body>
<script type="text/javascript" src="../../lib/js/mui.min.js" ></script>
<script type="text/javascript" src="../../src/js/common.js" ></script>
<script type="text/javascript" src="../../lib/js/h.min.js" ></script>
<!--<script type="text/javascript" src="../../src/js/asset/userinfo.js" ></script>-->
</html>
