<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Asset</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../lib/css/mui.min.css" />
		<link rel="stylesheet" href="../../dist/css/common/common.css" />
		<link rel="stylesheet" href="../../dist/css/asset/newcurrency.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">新增币种</h1>
		</header>

		<div class="mui-content">
			<form action="">
				<div class="mui-input-row mui-search" id="searchForm">
					<input id="search" type="search" class="mui-input-clear" placeholder="搜索">
				</div>
			</form>
			<ul class="mui-table-view" id="currency">
				<!--搜索结果-->
			</ul>
		</div>
	</body>
	<script src="../../lib/js/mui.min.js"></script>
	<script src="../../lib/js/h.min.js"></script>
	<script type="text/javascript" src="../../dist/js/common.min.js"></script>
	<script type="text/javascript" src="../../lib/js/zepto.min.js"></script>

	<script type="text/javascript" src="../../lib/js/web3.min.js"></script>
	<script type="text/javascript" src="../../lib/js/hooked-web3-provider.min.js"></script>
	
	<script type="text/javascript" src="../../lib/js/addToken.js"></script>

	<script type="text/javascript" src="../../dist/js/asset/newcurrency.min.js"></script>

	<script type="text/javascript">
		mui.init({
			swipeBack: true
		});
	</script>

</html>