<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>交易记录</title>
<link rel="stylesheet" href="../../../lib/css/mui.min.css" />
<link rel="stylesheet" href="../../../dist/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="../../../dist/css/my/record.css" />
</head>

<body>
	<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">交易记录</h1>
    <span></span>
	</header>
	
	<div class="mui-content">
		<form action="">
			<div class="mui-input-row mui-search">
			  <input id="search" type="search" class="mui-input-clear" placeholder="搜索">
			</div>
		</form>
		
		<ul class="item-list">
			<p class="date">2018年3月</p>
			<li class="clearfix border-1px">
				<i class="icon icon-earning"></i>
				<div class="info"> 
        	<p>sjdhj9r...d3444d9</p>
        	<span class="earning">+1.0000 <i>ether</i></span>
        </div>
        <div class="date">
        	<span>1日前</span>
        </div>
			</li>
			<li class="clearfix border-1px">
				<i class="icon icon-expend"></i>
				<div class="info"> 
        	<p>sjdhj9r...d3444d9</p>
        	<span class="expend">-1.0000 <i>ether</i></span>
        </div>
        <div class="date">
        	<span>3日前</span>
        </div>
			</li>
		</ul>
		
		<ul class="item-list">
			<p class="date">2018年2月</p>
			<li class="clearfix border-1px">
				<i class="icon icon-earning"></i>
				<div class="info"> 
        	<p>sjdhj9r...d3444d9</p>
        	<span class="earning">+1.0000 <i>ether</i></span>
        </div>
        <div class="date">
        	<span>1月前</span>
        </div>
			</li>
			<li class="clearfix border-1px">
				<i class="icon icon-expend"></i>
				<div class="info"> 
        	<p>sjdhj9r...d3444d9</p>
        	<span class="expend">-1.0000 <i>ether</i></span>
        </div>
        <div class="date">
        	<span>1月前</span>
        </div>
			</li>
		</ul>
		
	</div>
	
	<script src="../../../lib/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>