<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>创建组队</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/node/standardNode/personalelection/personalSignup.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">创建组队</h1>
		</header>

		<div class="mui-content">
			<div class="main">
				<h2>个人信息</h2>
				<input type="text" class="personalNickName" maxlength="10" placeholder="个人昵称" />
			</div>
			<div class="main">
				<h2>组队信息</h2>
				<input type="text" class="teamNickName" maxlength="10" placeholder="组队昵称" />
				<textarea class="declaration" placeholder="竞选宣言" maxlength="100"></textarea>
				<!--<input type="text" class="declaration" placeholder="竞选宣言" />-->
			</div>

			<div class="next">
				下一步
			</div>
		</div>
	</body>

</html>
<script src="../../../lib/js/mui.min.js"></script>
<script src="../../../lib/js/zepto.min.js"></script>
<script src="../../../src/js/common.js"></script>
<script type="text/javascript">
	mui.init();
	(function() {
		var Validata = {
			writeUserInfoUrl: 'http://api.truechain.pro/writeUserInfo',
			createTeamUrl: 'http://api.truechain.pro/createTeam',
			personalNickName: null,
			teamNickName: null,
			declaration: null,
			node_type: null,
			type: null,
			token: null,
			flag: false,
			isEmpty: true,
			TnickNameFlag: false,
			PnickNameFlag: false,
			declarationFlag: false,
			checkEmpty: function checkEmpty(val) {
				if(val) {
					this.isEmpty = false;
				} else {
					this.isEmpty = true;
				}
			},
			writeUserInfo: function() {
				let that = this;
				mui.ajax(that.writeUserInfoUrl, {
					type: 'get',
					dataType: 'json',
					headers: {
						token: that.token
					},
					data: {
						nickname: that.personalNickName
					},
					success: function(res) {
						console.log(res);
					},
					eroor: function(err) {
						console.log(err);
					}
				});
			},
			createTeam: function createTeam() {
				let that = this;
				mui.ajax(that.createTeamUrl, {
					type: 'get',
					dataType: 'json',
					headers: {
						token: that.token
					},
					data: {
						node_type: that.node_type,
						type: that.type,
						nickname: that.teamNickName,
						declaration: that.declaration
					},
					success: function(res) {
						console.log(res);
					},
					eroor: function(err) {
						console.log(err);
					}
				});
			},
			checkTNickName: function checkNickName(elements) {
				this.TnickNameFlag = false;
				this.teamNickName = $(elements).val();
				this.checkEmpty(this.teamNickName);
				if(this.isEmpty) {
					mui.toast('昵称不能为空');
					return
				} else {
					this.TnickNameFlag = true;
					return
				}
				return this
			},
			checkPNickName: function checkNickName(elements) {
				this.PnickNameFlag = false;
				this.personalNickName = $(elements).val();
				this.checkEmpty(this.personalNickName);
				if(this.isEmpty) {
					mui.toast('昵称不能为空');
					return
				} else {
					this.PnickNameFlag = true;
					return
				}
				return this
			},
			checkDeclaration: function checkDeclaration(elements) {
				this.declarationFlag = false;
				this.declaration = $(elements).val();
				this.checkEmpty(this.declaration);
				if(this.isEmpty) {
					mui.toast('竞选宣言不能为空!');
					return
				} else {
					this.declarationFlag = true;
					return
				}
				return this
			},
			init() {
				this.submitForm();
			},
			submitForm() {
				var that = this;
				mui.plusReady(function() {
					that.token = plus.storage.getItem('token');
					let self = plus.webview.currentWebview();
					that.node_type = self.node_type;
					that.type = self.type;
					$('.next').on('tap', function() {

						that.personalNickName = $('.personalNickName').val();
						that.teamNickName = $('.teamNickName').val();
						that.declaration = $('.declaration').val();
						that.checkTNickName('.teamNickName');
						that.checkPNickName('.personalNickName');
						that.checkDeclaration('.declaration');
						if(that.PnickNameFlag) {
							if(that.TnickNameFlag) {
								if(that.declarationFlag) {
									that.createTeam();
									that.writeUserInfo();
									openInfo('../personalelection/lockingWhouse.html', {
										node_type: that.node_type,
										type: that.type
									});
								}
							}
						}
					});
				})
			}
		};
		Validata.init();
	})();
</script>