<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../lib/css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/my/locker.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">设置手势</h1>
		</header>
		<div class="mui-content">
			<div class="openLocker">
				<div>开启手势密码</div>
				<div id="mySwitch" class="mui-switch">
					<div class="mui-switch-handle"></div>
				</div>
			</div>

			<div id='holder' class="mui-locker mui-hidden" data-locker-options='{"ringColor":"rgba(210,210,210,1)","fillColor":"#ffffff","pointColor":"rgba(0,136,204,1)","lineColor":"rgba(0,136,204,1)"}' data-locker-width='300' data-locker-height='300'></div>
			<div id='alert'></div>
		</div>
	</body>

</html>
<script src="../../../lib/js/mui.min.js"></script>
<script type="text/javascript" src="../../../lib/js/h.min.js"></script>
<script type="text/javascript" src="../../../dist/js/my/locker.js"></script>
<script type="text/javascript">
	mui.init();
	mui.plusReady(function() {
		var holder = document.querySelector('#holder'),
			alert = document.querySelector('#alert'),
			record = [],
			locker = plus.storage.getItem('locker');
		if(locker) {
			h('#mySwitch').addClass('mui-active');

		}
		//处理事件
		holder.addEventListener('done', function(event) {
			var rs = event.detail;
			if(rs.points.length < 4) {
				alert.innerText = '设定的手势太简单了';
				record = [];
				rs.sender.clear();
				return;
			}
			console.log('当前设置的密码', rs.points.join(''));
			record.push(rs.points.join(''));
			if(record.length >= 2) {
				if(record[0] == record[1]) {
					console.log(rs.points.join(''));
					plus.storage.setItem('locker', rs.points.join(''));
					alert.innerText = '手势设定完成';
					setTimeout(function() {
						mui.back();
					}, 1000)
				} else {
					alert.innerText = '两次手势设定不一致';
				}
				rs.sender.clear();
				record = [];
			} else {
				alert.innerText = '请确认手势设定';
				rs.sender.clear();
			}
		});

		document.getElementById("mySwitch").addEventListener("toggle", function(event) {
			if(event.detail.isActive) {
				h('#holder').removeClass('mui-hidden');
				console.log("你启动了开关");
			} else {
				console.log("你关闭了开关");
				h('#holder').addClass('mui-hidden');
				plus.storage.removeItem('locker')
			}
		})
	})
</script>