<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/node/standardNode/personalelection/lockingWhouse.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">锁仓</h1>
		</header>

		<div class="mui-content">
			<div class="main">
				<input type="text" class="lockWhouseAdd" disabled="disabled" value="锁仓账户" />
				<input type="tel" class="lockingNum" placeholder="锁仓数量" />
				<div class="mui-input-row mui-input-range">
					<input type="range" min="0.00054600" max="0.0059999" value="0.00120000" step="0.00000001">
					<span class="mui-tooltip" id="minerCost">0.00120000</span>
				</div>
				<div class="center speed">
					<p>慢</p>

					<p>快</p>
				</div>
			</div>
			<div id="next">
				下一步
			</div>

			<!--<div id="modal" class="mui-modal">
				<header class="mui-bar mui-bar-nav">
					<h1 class="mui-title">输入密码</h1>
				</header>
				<div class="mui-content options">
					<input type="password" class="mui-input-clear psw" placeholder="请输入你的密码">
					<div class="options_item">
						<a class="options_item_bg cancel bs white comfirmPsw">取消</a>
						<a class="options_item_bg comfirm bs white comfirmPsw">确认</a>
					</div>
				</div>
			</div>-->
			<div id="modal" class="mui-modal mui-hidden">
				<header class="mui-bar mui-bar-nav">
					<a class="modal_item mui-icon mui-icon-close mui-pull-right close" href="###"></a>
					<h1 class="mui-title">钱包密码</h1>
				</header>
				<div class="mui-content options">
					<form class="mui-input-group center top">
						<div class="mui-input-row">
							<input type="password" class="mui-input-clear psw" placeholder="请输入你的密码">
						</div>
						<div class="options_item">
							<a class="options_item_bg r comfirm bs white comfirmPsw">确认</a>
						</div>
					</form>
				</div>
			</div>

			<!--弹层-报名成功-->
			<div class="up-center-windows signUpsucc not-view">
				<div class="title">
					<!--报名/加入组队成功-->
				</div>
				<div class="signUpsucc-box">
					<div class="succ">
						<!--报名/加入组队成功-->
					</div>
					<button id="back-btn">返回</button>
				</div>
			</div>
		</div>
		</div>
	</body>

</html>
<script src="../../../lib/js/mui.min.js"></script>
<script src="../../../lib/js/zepto.min.js"></script>
<script src="../../../lib/js/web3.min.js"></script>
<script src="../../../lib/js/h.min.js"></script>
<script src="../../../src/js/common.js"></script>
<script src="../../../lib/js/lockSendTokens.js"></script>

<script src="../../../dist/js/node/standardNode/personalelection/lockingWhouse.js"></script>