<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>切换账户</title>
<link rel="stylesheet" href="../../../lib/css/mui.min.css" />
<link rel="stylesheet" href="../../../dist/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="../../../dist/css/my/list.css" />
</head>

<body>
	<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">切换账户</h1>
	</header>
	
	<div class="mui-content">
		<ul class="mui-table-view e-item-list">
      <li class="mui-table-view-cell correct-icon-li mui-disabled">
        <a class="active">
					<span>钱包名称</span>
        </a>
      </li>
      <li class="mui-table-view-cell correct-icon-li mui-disabled">
        <a>
					<span>备份钱包</span>
        </a>
      </li>
    </ul>
	</div>
<script src="../../../lib/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../lib/js/zepto.min.js" type="text/javascript" charset="utf-8"></script>
</body>
<script type="text/javascript">
//语言切换
$('.e-item-list').on('tap','.correct-icon-li',function(e){
	$(this).find("a").addClass("active");
	$(this).siblings().find("a").removeClass("active");
});
</script>
</html>