<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>新建联系人</title>
<link rel="stylesheet" href="../../../lib/css/mui.min.css" />
<link rel="stylesheet" href="../../../dist/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="../../../dist/css/my/addlinkman.css" />
</head>

<body>
	<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">新建联系人</h1>
    <span>完成</span>
	</header>
	
	<div class="mui-content">
		<section class="clearfix">
			<i class="icon-linkman"></i>
			<div class="mui-input-row">
        <input type="text" class="mui-input-clear e-first-name" placeholder="姓">
	    </div>
	    <div class="mui-input-row">
        <input type="text" class="mui-input-clear e-name" placeholder="名">
	    </div>
		</section>
		
		<form class="mui-input-group">
	    <div class="mui-input-row">
        <input type="text" class="mui-input-clear e-wallet-name" placeholder="收款人钱包地址">
        <i class="scan-code"></i>
	    </div>
	    <div class="name-error error mui-hidden">
	    	不少于8位字符，建议混合大小写字母、数字、特殊字符
	    </div>
	    
	    <div class="mui-input-row">
        <input type="password" class="mui-input-password e-wallet-pwd" placeholder="手机号码">
	    </div>
	    <div class="pwd-error error mui-hidden">
	    	不少于8位字符，建议混合大小写字母、数字、特殊字符
	    </div>
	    
	    <div class="mui-input-row">
        <input type="password" class="e-wallet-repwd" placeholder="邮箱">
	    </div>
	    <div class="repwd-error error mui-hidden">
	    	不少于8位字符，建议混合大小写字母、数字、特殊字符
	    </div>
	    
	    <div class="mui-input-row">
        <input type="password" class="e-wallet-repwd" placeholder="备注">
	    </div>
	    <div class="repwd-error error mui-hidden">
	    	不少于8位字符，建议混合大小写字母、数字、特殊字符
	    </div>
	    
		</form>
	</div>
</body>

</html>