<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>联系人</title>
<link rel="stylesheet" href="../../../lib/css/mui.min.css" />
<link rel="stylesheet" href="../../../dist/css/common/common.css" />
<link rel="stylesheet" type="text/css" href="../../../dist/css/my/linkman.css" />
</head>

<body>
	<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">联系人</h1>
    <span></span>
	</header>
	
	<div class="mui-content">
		<ul class="linkman-list">
			<li class="border-1px">
				<section class="clearfix">
					<i class="icon-linkman"></i>
					<p class="sub-title">陈海</p>
					<p>sjdhjsaSDJhdjskah...DJHshjdksSH</p>
				</section>
			</li>
			<li class="border-1px">
				<section class="clearfix">
					<i class="icon-linkman"></i>
					<p class="sub-title">李红梅</p>
					<p>sjdhjsaSDJhdjskah...DJHshjdksSH</p>
				</section>
			</li>
		</ul>
	  
	</div>
</body>

</html>