<!DOCTYPE html>
<html>
  <head>
    <title>账户余额</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>账户是：<%= account %></h1>
    <p>余额是：<%= balance %></p>
  </body>
</html>