<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>节点</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../dist/css/node/node.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title"><!--节点类型--></h1>
		</header>
		<div class="mui-content">
			<div class="main">
				<a class="signUp signUp_personal">
					<span>个人报名</span>
					<i class="arrow"></i>
				</a>
				<div>
					<div class="signUp signUp_team_item">
						<div class="signUp_team_search">
							<span>组队列表</span>
							<!--<i class="search"></i>-->
							<form class="signUp_team_search_wid">
								<!--搜索-->
								<!--<div class="mui-input-row mui-search">
									<input id="search" type="search" class="mui-input-clear" placeholder="搜索">
								</div>-->
							</form>
						</div>
						<span class="establish">建立组队</span>
					</div>

					<ul class="signUp signUp_team">
						<!--<li>
							<div>
								<span class="serialNum">1</span>
								<span class="nickName">飞虎小分队</span>
							</div>
							<i class="arrow"></i>
						</li>-->
					</ul>
				</div>
			</div>

			<!--参选失败-->
			<div class="up-center-windows fail not-view">
				<div class="title">参选失败
					<i class="close"></i>
				</div>
				<div class="fail-box">
					<div class="succ">
						<!---->
					</div>
					<button id="joinOrganize">加入组队</button>
				</div>
			</div>
		</div>
	</body>

</html>
<script src="../../lib/js/mui.min.js"></script>
<script src="../../lib/js/zepto.min.js"></script>
<script src="../../lib/js/h.min.js"></script>
<script src="../../src/js/common.js"></script>
<script type="text/javascript" src="../../lib/js/web3.min.js"></script>
<script type="text/javascript" src="../../lib/js/addToken.js"></script>
<script type="text/javascript">
	(function() {
		var Validate = {
			trueNum: null,
			token: null,
			teamRankUrl: 'http://39.105.125.189:7001/teamRank',
			init() {
				this.submitForm();
				//		 console.log(JSON.stringify(plus.webview.currentWebview()), null, 2)
			},
			getTeamData: function getTeamData(node_type) {
				let that = this;
				let teamData = '';
				mui.ajax(that.teamRankUrl, {
					type: 'get',
					dataType: 'json',
					headers: {
						token: that.token
					},
					data: {
						node_type: node_type
					},
					success: function(res) {
						res.data.forEach(function(item, index) {
							teamData += `
										<li id='huhu' data-teamAdd=${item.address} data-type=${item.type}>
											<div>
													<span class="serialNum">${index+1}</span>
													<span class="nickName">${item.nickname}</span>
											</div>
											<i class="arrow"></i>
											</li>`;
						});
						$('.signUp_team').append(teamData);
					},
					error: function(err) {
						console.log(err)
					}
				})
			},
			submitForm() {
				let that = this;
				mui.plusReady(function() {
					var mask = mui.createMask(function() {
						return false;
					});
					that.token = plus.storage.getItem('token');
					let host = plus.storage.getItem('web3Host');
					let trueContractAddr, ttrContractAddr;
					let reg = /https:\/\/ropsten.infura.io/;
					if(!host) {
						host = 'https://mainnet.infura.io/';
						trueContractAddr = "0xa4d17ab1ee0efdd23edc2869e7ba96b89eecf9ab";
					} else if(reg.test(host)) {
						trueContractAddr = "0x2792d677B7Ba6B7072bd2293F64BC0C1CDe23ac1";
					} else {
						trueContractAddr = "0xa4d17ab1ee0efdd23edc2869e7ba96b89eecf9ab";
					}

					addToken(trueContractAddr, function(balances) {
						that.trueNum = balances;
					})

					let self = plus.webview.currentWebview();
					switch(self.node_type) {
						case 1:
							{
								h('.mui-title').html('标准节点');
								/*标准节点的报名数据*/
								that.getTeamData(1);
								//个人报名标准节点
								$('.signUp_personal').on('tap', function() {
									if(that.trueNum >= 2000) {
										openInfo('personalelection/personalSignup.html', {
											node_type: 1,
											type: 1
										});
									} else {
										mask.show();
										$('.succ').html('抱歉,您未达到2000TRUE,暂无法进行个人报名参选 !');
										$('.fail').removeClass('not-view');
									}
								});

								/*标准节点建立组队*/
								h('.establish').tap(function() {
									if(that.trueNum >= 1) {
										openInfo('createTeam/createTeam.html', {
											node_type: 1,
											type: 2
										});
									} else {
										mui.alert('创建组队至少需要1TRUE')
									}
								});
								break;
							}
						case 2:
							{
								h('.mui-title').html('全节点');
								/*全节点的组队数据*/
								that.getTeamData(2);
								//个人报名全节点
								$('.signUp_personal').on('tap', function() {
									if(that.trueNum >= 50000) {
										openInfo('personalelection/personalSignup.html', {
											node_type: 2,
											type: 1
										});
									} else {
										mask.show();
										$('.succ').html('抱歉,您未达到50000TRUE,暂无法进行个人报名参选 !');
										$('.fail').removeClass('not-view');
									}
								});

								/*全节点建立组队*/
								h('.establish').tap(function() {
									if(that.trueNum >= 1) {
										openInfo('createTeam/createTeam.html', {
											node_type: 2,
											type: 2
										});
									} else {
										mui.alert('创建组队至少需要1TRUE');
									}
								});
								break;
							}
					};

					/*关闭*/
					h('.close').tap(close);

					/*加入组队 ---> 关闭遮罩重新选择*/
					h('#joinOrganize').tap(close);

					function close() {
						$('.fail').addClass('not-view');
						mask._remove();
					}

					//		申请加入组队
					$('.signUp_team').on('tap', 'li', function(e) {
						let teamAdd = $(this).data('teamadd');
						let type = $(this).data('type');
						openInfo('organizeTeamNode/joinOrganize.html', {
							teamAddress: teamAdd,
							type: type
						});
					});
				})
			}
		};
		Validate.init();
	})()
</script>