<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/common/common.css" />
		<link rel="stylesheet" type="text/css" href="../../../dist/css/node/standardNode/organizeTeamNode/joinOrganize.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">加入组队</h1>
		</header>

		<div class="mui-content">
			<div class="main">
				<div class="baseInfo">
					<div class="baseInfo_top">
						<div class="baseInfo_item">
							组队信息
							<p class="nickName">
								<!--团队名称-->
							</p>
						</div>
						<div class="voteNum">
							1000票
						</div>
					</div>
					<div class="baseInfo_declaration">
						我们的竞选宣言是什么什么什么
					</div>
				</div>

				<ul>
					<li class="member">
						<div class="memberInfo">
							<i></i>
							<span>大虎</span>
						</div>
						<span class="trueNum">2000TRUE</span>
					</li>
					<li class="member">
						<div class="memberInfo">
							<i></i>
							<span>大虎</span>
						</div>
						<span class="trueNum">2000TRUE</span>
					</li>
					<li class="member">
						<div class="memberInfo">
							<i></i>
							<span>大虎</span>
						</div>
						<span class="trueNum">2000TRUE</span>
					</li>
				</ul>
			</div>

			<div class="adopt_next">
				<p class="adopt not-view">申请已经通过,请进行下一步操作! </p>
				<p class="refuse not-view">申请失败,队长拒绝了你的申请</p>
				<div id="next" class="apply">
					下一步
				</div>
			</div>
		</div>
	</body>

</html>
<script src="../../../lib/js/mui.min.js"></script>
<script src="../../../lib/js/zepto.min.js"></script>
<script src="../../../src/js/common.js"></script>
<script type="text/javascript">
	mui.init();

	mui.plusReady(function() {
		/*获取组队信息*/
		let self = plus.webview.currentWebview();

		$('.nickName').html(self.teamName);

		/*判断该地址是否申请过组队*/
		//		if(!true) {
		//			$('#next').addClass('mui-disabled applyed');
		//			$('#next').html('已申请');
		//		} else {
		//			$('#next').on('tap', function() {
		//				openInfo('InfoFilling.html', {
		//					teamName: self.teamName,
		//					teamAddress: self.teamAddress
		//				})
		//			})
		//		};

		/*判断队长是否同意申请*/
		/*type = 0 为个人参选  type = 1 为组队参选*/
		if(true) {
			$('.adopt').removeClass('not-view');
			$('.apply').removeClass('mui-disabled applyed');
			$('#next').on('tap', function() {
				console.log('同意申请,进行锁仓操作');
				openInfo('../personalelection/lockingWhouse.html', {
					type: 1
				})
			})
		} else {
			$('.refuse').removeClass('not-view');
			$('#next').html('加入其他组队');
			$('#next').on('tap', function() {
				console.log('拒绝申请,选择加入其他组队');
				plus.webview.show(plus.webview.getWebviewById('index.html'));
			})
		}

	})
</script>